body {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #1039aD;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 200%;
  margin-top: 2em;
  margin-bottom: 0.2em;
}

#content {
  width: 800px;
  margin: 0 auto;
}

#messages {
  width: 778px;
  border: 1px solid #bbb;
  margin-bottom: 10px;
  padding: 10px;
}

#messages p + p {
  margin-top: 10px;
}

#name, #message, button {
  margin: 0;
  padding: 9px;
	vertical-align: baseline;
  height: 18px;
  border: 1px solid #bbb;
  font-size: 100%;
  box-sizing: content-box;
}

#name {
  width: 150px;
}

#message {
  width: 500px;
  margin: 0 10px;
}

button {
  background-color: #eee;
  width: 70px;
}

#notice {
  margin: 10px 0 20px 0;
  text-align: center;
  font-size: 80%;
}
