body {
  font-size: 160%;
  padding: 1em 1em 1em 1em;
}

#logo {
  margin-top: 2px;
}

#container {
  width: 100%;
}

footer {
  width: 100%;
  margin: 4px 0 1px 0;
}

form.add-comment {
  width: 100%;
}
