* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Arial;
}

a {
  text-decoration: none;
  color: #1492d6;
}
a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 200%;
  margin-top: 1em;
  margin-bottom: -0.1em;
}

h1 a {
  color: black;
}

h2 {
  font-size: 130%;
}

.fullwidth {
  width: 800px;
  margin: 0 auto;
}

div.command, div.tags, div.checks {
  margin-top: 1em;
  margin-bottom: 1em;
}
div.command h3, div.tags h3, div.checks h3 {
  margin-bottom: 0.5em;
}
textarea.command-editor {
  display: block;
  width: 100%;
  font-family: 'Consolas', 'Courier New';
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 6px;
}
button {
  padding: 6px;
  background-color: #eee;
  border: 1px solid #ccc;
}
input[type=text] {
  border: 1px solid #ccc;
  padding: 6px;
}
div.tags ul {
  display: inline;
  font-size: 85%;
}
div.tags li {
  display: inline;
  float: left;
}
div.tags li a {
  padding: 6px;
  color: #3e6d8e;
  display: block;
  background: #e0eaf1;
  border: 1px solid transparent;
}
div.tags li a:hover {
  text-decoration: none;
}
div.tags li a:hover {
  border: 1px solid #3e6d8e;
}
div.tags li + li, div.tags ul + input {
  margin-left: 0.5em;
}
div.tags ul:empty + input {
  margin-left: 0;
}
div.create-alert input {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

table.hairlined {
  width: 100%;
  font-size: 85%;
  border-spacing: 0;
  border-width: 0 0 1px 1px;
  border-collapse: collapse;
}
table.hairlined, table.hairlined > * > tr > td, table.hairlined > * > tr > th  {
  border-style: solid;
  border-color: #b9b9b9;
}
table.hairlined > * > tr > td, table.hairlined > * > tr > th {
  border-width: 1px 1px 0 0;
  padding: 6px;
}
table.hairlined > * > tr > th {
  background: #cccccc;
  font-weight: bold;
}
table.hairlined > * > tr:nth-child(even) > td {
  background: #eaeaea;
}
table.hairlined > * > tr:nth-child(odd) > td {
  background: #ffffff;
}

table.hairlined > tbody > tr > td.status-ok {
  background: #cfc;
}
table.hairlined > tbody > tr > td.status-warning {
  background: #ffa;
}
table.hairlined > tbody > tr > td.status-critical {
  background: #f88;
}
