*{ margin: 0; padding: 0; }*

body {
  font: 1em "Trebuchet MS", Arial, Sans-Serif;
  color: #444;
}

h1 {
  font-size: 200%;
  text-align: center;
  margin-top: 3em;
}

h1 a {
  color: black;
  text-decoration: none;
}

#content {
  width: 600px;
  margin: 0 auto;
}

#footer {
  font-size: 0.9em;
  width: 600px;
  margin: 0 auto;
}

.fr {
  float: right;
}

table.hairlined { width: 100%; border-spacing: 0; border-width: 0 0 1px 1px; border-collapse: collapse; }
table.hairlined, table.hairlined > * > tr > td, table.hairlined > * > tr > th { border-style: solid; border-color: #99a; }
table.hairlined > * > tr > td, table.hairlined > * > tr > th { border-width: 1px 1px 0 0; padding: 6px; }
table.hairlined > * > tr > th { background: #ddd; text-align: center; font: bold 1.1em Arial, Sans-Serif; }
table.hairlined > * > tr > td { background: #f3f3f3; }
table.hairlined > * > tr > td.other { background: #ececec; }
